/* Match learn.arm.com reference site exactly */

.copy-to-clipboard-button { color: white!important; background-color: var(--arm-blue)!important; }
html[theme="dark"] .copy-to-clipboard-button { color: black!important; background-color: var(--arm-light-blue)!important; }
html[theme="dark"] .copy-to-clipboard-button:hover { background-color: var(--arm-green)!important; border: 1px solid var(--arm-green)!important; }
pre > code > span.hidden-output-text { display: none; }
pre > code > span.output { user-select: none; opacity: 0.8!important; }
.command-line-prompt>span:before { opacity: 0.8!important; }
